<ion-content class="centrarElementos">
  <ion-card class="card-narrow">
    <ion-card-header>
      <ion-card-title class="main-title">Log In</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="ion-color-tertiary">
        <ion-input label="Correo electrónico"
                   label-placement="floating"
                   placeholder="nombre@gmail.com"
                   color="secondary"></ion-input>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-item>
      <ion-item color="ion-color-secondary">
        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          type="password"
          placeholder="Introduce tu contraseña"
          color="secondary"
        >
        </ion-input>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-button expand="block" color="first" class="long-button" href="/home">Iniciar Sesión</ion-button>
      <ion-text class="register-text">
        <p class="register-text">¿No tienes una cuenta? <a href="/register">Regístrate</a></p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-img src="/assets/icon/logo.svg" alt="Logo Prime Market" class="logoStyle"></ion-img>
</ion-content>
