.register-title {
  color: var(--ion-color-tertiary);
  font-size: 50px;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

.long-button {
  margin-top: 20px;
  --border-radius: 10px;
}

ion-item {
  margin: 15px 0;
}
