<ion-content class="centrarElementos">
  <ion-card class="full-width-card-ini">
    <ion-card-header>
      <ion-card-title class="register-title">Registrar con correo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item  color="ion-color-secondary">
        <ion-input color="cuaternary" label="Nombres" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item  color="ion-color-secondary">
        <ion-input color="cuaternary" label="Apellidos" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item color="ion-color-tertiary">
        <ion-input label="Correo electrónico" label-placement="floating" placeholder="nombre@gmail.com" color="cuaternary"></ion-input>
      </ion-item>
      <ion-item lines="none" color="ion-color-secondary">
        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          type="password"
          placeholder="Introduce tu contraseña"
          color="cuaternary"
        >
        </ion-input>
      </ion-item>
      <ion-button href="/home" expand="block" color="first" class="long-button">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-img src="/assets/icon/SmallLogo.svg" alt="Logo CostSplit"></ion-img>
</ion-content>
